html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ececec;
}

section {
  padding-top: 6%;
}
/* Updated CSS for Header and Side Menu */
header {
  background-color: #2c121b;
  color: #eee7df;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

a {
  color: #2c121b;
}

.skills-chip a:hover {
  color: #ececec;
  text-decoration: none;
}

.skills-chip a {
  text-decoration: none;
}

header h3 {
  margin: 0;
  font-size: 1.7rem;
  margin-left: 10%;
  order: 1; /* To place the name on the right */
}

nav {
  justify-content: space-around;
  display: flex;
  background-color: #2c121b;
  align-items: center;
  order: 2; /* To place the menu on the left */
}

.main-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.main-menu li {
  margin-right: 20px;
}

.main-menu li a {
  text-decoration: none;
  color: #eee7df;
  font-weight: bold;
}

/* Define CSS classes for the animations */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}
.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}

/* CSS for the full-screen dialog */
.full-screen-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 103; /* Higher z-index than main menu */
}

.dialog-content {
  background-color: #ffffff00;
  backdrop-filter: blur(10px);
  max-width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 36px;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #2c121b;
  cursor: pointer;
}

.dialog-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.dialog-card {
  background-color: #2c121b;
  border-radius: 24px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.dialog-card a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.mobile-menu-icon {
  display: none; /* Hide the icon by default */
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 2.5px;
  background-color: #ffffff;
  margin: 3px 0;
}
/* Media Query for Small Screens */
@media screen and (max-width: 750px) {
  /* Show the menu icon on small screens */

  .mobile-menu-icon {
    display: block;
  }

  .full-screen-dialog.show-dialog {
    display: flex;
  }

  .project-dialog {
    width: 80%;
    height: 80%;
    align-items: center;
    text-align: center;
    justify-self: center;
    position: absolute;
  }

  .mysummary{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 90%;
    align-items: center;
  }

  .summary {
    align-items: center;
    flex-direction: column;
    display: block;
    width: 90%;
    justify-content: none;
  }

  .summary h1 {
    font-size: 10px;
    color: #2c121b;
  }

  .summary-left {
    max-width: 80%;
  }

  .summary-right {
    max-width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .summary-right img {
    border-radius: 0px;
  }

  /* Hide the main menu on small screens */
  .main-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0077b6;
    text-align: center;
    padding-top: 50px;
    z-index: 101;
  }

  /* Styles for the side menu links */
  .main-menu li {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .main-menu li a {
    color: #ffffff;
    font-weight: bold;
  }

  /* Show the main menu when the 'show' class is applied */
  .main-menu.show {
    display: flex;
  }

  .experience-card-container {
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center; /* Center cards horizontally within the container */
  }

  .experience-card {
    width: 80%; /* Cards take the full width */
  }
  .achievements-list {
    flex-direction: column;
  }

  .contact-details {
    flex-direction: column;
  }

  .app-card {
    max-width: 90%;
    flex-direction: column;
  }

  .app-details {
    order: 1; /* Move app details card to the top */
  }

  .screenshots-container {
    order: 2; /* Move entire screenshots container below the app details card */
    overflow: scroll;
    position: relative;
    max-width: 90%;
  }

  .navigation-buttons {
    display: block;
    justify-content: start;
    align-items: start;
    margin-top: 10px;
    width: 20%;
  }
}

.mysummary{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 80%;
  align-items: center;
}

.summary {
  text-align: left;
  margin-left: auto;
  width: 80%;
  margin-right: auto;
  flex: content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary left {
  max-width: 50%;
}

.summary right {
  max-width: 50%;
}

.summary img {
  float: right;
  margin-right: 0px;
  max-width: 60%;
  border-radius: 20px;
}

.get-in-touch {
  border-radius: 20px;
  gap: 10px;
  display: flex;
  align-items: start;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.summary h1 {
  position: relative;
  display: flex;
  font-size: 48px;
  color: #2c121b;
}

/* Centered and vertically aligned Work Experience section */
#experience {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  margin: 0 auto; /* Add horizontal margin */
  max-width: 90%; /* Adjust the maximum width as needed */
}

/* Work Experience cards styles (changes for vertical alignment) */
.experience-card-container {
  display: flex;
  flex-direction: column; /* Change to column layout */
  gap: 20px;
  padding: 20px 0;
  align-items: center; /* Center cards horizontally within the container */
}

.experience-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* Cards take the full width */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.experience-card h3 {
  margin-top: 0;
}

.experience-card ul {
  list-style-type: disc;
  margin-left: 20px;
  padding: 0;
}

.experience-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

/* Hover effect to increase size and add a box shadow */
.experience-card:hover {
  transform: scale(1.05); /* Enlarge the card on hover */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow on hover */
}

/* Updated CSS for project cards */
.project-card-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 5%;
}

.project-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 0 0 auto;
  max-width: 250px;
  min-width: 200px;
  height: auto; /* Fixed height initially */
  transition: transform 0.3s ease; /* Animation for hovering */
  overflow: hidden; /* Hide content overflow */
}

.project-card img {
  max-width: 100%;
  height: auto;
  height: 100px;
  align-self: center;
  border-radius: 10px;
  width: 100px;
  margin-bottom: 10px;
}

.project-card h3 {
  margin-top: 0;
}

/* Detailed description hidden by default */
.project-description {
  display: none;
}

.project-type-chip-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 5%;
  max-width: 800px;
  margin: 0 auto;
}

.project-card-chip {
  background-color: #2c121b; /* Light color */
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #eee7df;
  transition: background-color 0.3s ease; /* Dark color animation on hover */
}

.project-card-chip p {
  margin: 0;
  font-size: 16px; /* Adjust font size as needed */
}

/* Styles for the project dialog container */
.project-dialog-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  z-index: 103; /* Higher z-index to display above the small card */
  justify-content: center;
  align-items: center;
}

.project-dialog {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  width: 90%;
  text-align: left;
  position: relative;
}

/* Close button for the project dialog */
.close-project-dialog {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Project dialog content styles */
.project-dialog-content {
  padding: 10px;
}

.project-dialog h3 {
  margin-top: 0;
}

/* Project dialog link styles */
#project-dialog-link {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #0077b6;
  font-weight: bold;
}

.preview-container {
  margin: 20px auto;
  max-width: 800px;
  border: 1px solid #ccc;
  overflow: hidden;
}

iframe {
  width: 60%;
  height: 30%;
  border: none;
}

/* Updated CSS for Skills Set chips */

h2 {
  text-align: center;
  align-items: center;
}

.skills-chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 5%;
  max-width: 800px;
  margin: 0 auto;
}

.skills-chip {
  background-color: #eee7df; /* Light color */
  border-radius: 25px; /* Rounded corners for a chip-like appearance */
  padding: 10px 20px; /* Adjust padding as needed */
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Dark color animation on hover */
}

.skills-chip p {
  margin: 0;
  font-size: 16px; /* Adjust font size as needed */
}

.skills-chip:hover {
  background-color: #2c121b; /* Dark color on hover */
  color: #ffffff; /* Text color on hover */
}

/* Updated CSS for Achievements */
.achievements-list {
  list-style-type: none;
  padding: 5%;
  display: flex;
  align-items: center;
  align-self: centerx;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  gap: 20px; /* Add horizontal margin */
}

.achievement {
  background-color: #ffffff;
  border-radius: 8px;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  max-width: 300px;
  flex: 0 0 calc(33.33% - 20px); /* 3 cards per row, adjusted for gap */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hover effect */
}

.achievement h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.achievement p {
  margin: 0;
}

/* Hover effect to slightly enlarge and add a box shadow on hover */
.achievement:hover {
  transform: scale(1.02);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

/* Vertically align achievements */
#achievements {
  text-align: center;
  max-width: 800px;
  margin: 0 auto; /* Center the achievements section */
}

/* Hover effect to slightly enlarge and add a box shadow on hover */
.achievement:hover {
  transform: scale(1.02);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

/* Vertically align achievements */
#achievements {
  text-align: center;
}

/* CSS for Contact Us section */
#contact {
  padding: 20px;
  text-align: center;
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.contact-icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-icon img {
  min-width: 18px; /* Adjust icon size as needed */
  min-height: 18px;
  max-width: 36px;
  max-height: 36px;
  margin-bottom: 10px;
}

#social-media {
  text-align: center;
  padding: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-icons a {
  display: block;
  transition: transform 0.2s, filter 0.2s;
  width: 40px; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  overflow: hidden; /* Hide any excess image content */
}

.social-icons img {
  width: 100%; /* Ensure the image occupies the full width of its container */
  height: 100%; /* Ensure the image occupies the full height of its container */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
}

.social-icons a:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

footer {
  background-color: #2c121b; /* Primary color from your palette */
  color: #eee7df; /* Light color from your palette */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

/* Project card hover animation */
.project-card:hover {
  background-color: #ececec; /* Change to a lighter or contrasting color */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

/* Skills card hover animation */
.skills-card:hover {
  background-color: #ffd95b; /* Change to a lighter or contrasting color */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

.app-card {
  display: flex;
  max-width: 80%;
  margin: 10px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  flex-wrap: wrap;
}

.app-details {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: left;
}

.app-logo {
  max-width: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.app-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.app-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.store-link {
  align-self: self-end;
  font-size: 16px;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

.screenshots-container {
  flex: 1;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.screenshots {
  display: flex;
  padding: 10px;
  width: 100%;
  transition: transform 0.5s ease;
}

.screenshot {
  width: auto;
  max-height: 60vh;
  flex-shrink: 0;
  border-radius: 12px;
  margin-right: 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

.screenshot:hover {
  transform: scale(1.02);
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.arrow-button {
  background-color: #fff;
  color: #2c121b;
  border: none;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px; 
}
